set rnu
set ideajoin
set NERDTree
set easymotion
set clipboard+=unnamed

:map <S>k <Action>(QuickJavaDoc)
:map gi <Action>(GotoImplementation)
:map gd <Action>(GotoDeclaration)
:map gD <Action>(GotoTypeDeclaration)

let mapleader = " "

:map <leader>ru <Action>(Run)
:map <leader>run <Action>(ChooseRunConfiguration)
:map <leader>rr <Action>(Rerun)
:map <leader>s <Action>(Stop)

:map <leader>n <Action>(NextTab)
:map <leader>p <Action>(PreviousTab)

:map <leader>oi <Action>(OptimizeImports)
:map <leader>g <Action>(Generate)
:map <leader>u <Action>(ExternalSystem.ProjectRefreshAction)
:map <leader>rn <Action>(RenameElement)

:map <leader><tab> :NERDTree<CR>
:map <leader>q <Action>(HideActiveWindow)

:map <leader>t <Action>(ActivateTerminalToolWindow)

:map <up> <Action>(StretchSplitToTop)
:map <down> <Action>(StretchSplitToBottom)
:map <left> <Action>(StretchSplitToLeft)
:map <right> <Action>(StretchSplitToRight)

:map <leader>vs <Action>(SplitVertically)
:map <leader>vp <Action>(SplitHorizontally)

:map <leader>l <Action>(NextSplitter)
:map <leader>h <Action>(PrevSplitter)

:map <leader>d <Action>(CloseContent)
:map <leader><CR> <Action>(ReformatCode)
:map <leader>ac <Action>(ShowIntentionActions)
